<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- Path to the raw Stack Overflow dump-->
        <add key="RawDataPath" value="C:\Temp\SO data\Content"/>
        <!-- Path to the data store -->
        <add key="StorePath" value="C:\LokadData\dp-store"/>
        <add key="StoreConnection" value="http://127.0.0.1:8080"/>
    </appSettings>
</configuration>
