@{
    ViewBag.Title = "Home Page";
}
<script src="/Content/js/jquery-1.8.2.min.js"></script>
<script src="/Content/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="/Content/js/jquery.sparkline.min.js"></script>

<div class="container">
    <div class="row-fluid">
        <div class="span4">
            <div id="tag_result" ></div>
        </div>

        <div class="span4">
            <div id="comment_result" ></div>
        </div>
        
        <div class="span4">
            <div id="users_result" ></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        refreshUsers();
        refreshTags();
        refreshComments();

        setInterval(refreshTags(), 5000);
        setInterval(refreshComments, 5000);
        setInterval(refreshUsers, 5000);
    });

    function refreshTags() {
        $('#tag_result').load("@Url.Action("Tags")");
    }

    function refreshComments() {
        $('#comment_result').load("@Url.Action("Comments")");
    }

    function refreshUsers() {
        $("#users_result").load("@Url.Action("Users")");
    }
</script>
