@{
    ViewBag.Title = "Home Page";
}
<script src="/Content/js/jquery-1.8.2.min.js"></script>
<script src="/Content/js/jquery.unobtrusive-ajax.min.js"></script>
<script src="/Content/js/jquery.sparkline.min.js"></script>

<div class="container">
    <div class="row-fluid">
        <div class="span4">
            <div id="tag_result" ></div>
        </div>

        <div class="span4">
            <div id="comment_result" ></div>
        </div>
        
        <div class="span4">
            <div id="users_result" ></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setInterval(function () { $('#tag_result').load("@Url.Action("Tags")"); }, 5000);
        setInterval(function () { $('#comment_result').load("@Url.Action("Comments")"); }, 5000);
        setInterval(function () { $("#users_result").load("@Url.Action("Users")"); }, 5000);
    });
</script>
