@model Dictionary<long, long>

<table cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>Number of comments</th>
        <th>Number of posts</th>
    </tr>
    @if (Model != null)
    {
        foreach (var pair in Model.OrderBy(x=>x.Key))
        {
        <tr>
            <td>@pair.Key</td>
            <td>@pair.Value</td>
        </tr>
        }
    }
</table>
@DateTime.Now